.wrapper{
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.main_header {
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    
    /* this line is not working*/
    /*img { 
        max-height: 50px;
        max-width: 50px;
    }*/
}

img { 
    max-height: 50px;
    max-width: 50px;
}
